<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://avatars1.githubusercontent.com/u/45381083">
    <title>Carter "Fyko" Himmel</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=”viewport” content=”width=device-width, initial-scale=1″>

    <!-- Metadata -->
    <meta name="theme-color" content="#745c97">
    <meta name="apple-mobile-web-app-title" content="Carter 'Fyko' Himmel">
    <meta itemprop="image" content="https://avatars1.githubusercontent.com/u/45381083">
    <link rel="canonical" href="https://fyko.net/">
    <link rel="icon" href="https://avatars1.githubusercontent.com/u/45381083">
    <link rel="apple-touch-icon-precomposed" href="https://avatars1.githubusercontent.com/u/45381083">

    <!-- Embed Data -->
    <meta name="author" content="Carter 'Fyko'">
    <meta name="description" content="coffee addicted developer &amp; photographer">

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Carter 'Fyko' Himmel">
    <meta property="og:title" content="Carter 'Fyko' Himmel">
    <meta property="og:description" content="coffee addicted developer &amp; photographer">
    <meta property="og:url" content="https://fyko.net/">
    <meta property="og:image" content="https://avatars1.githubusercontent.com/u/45381083">

    <!-- Design -->
    <link rel='stylesheet' href='https://fyko.net/css/404.css'>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src='https://fyko.net/js/particles.js'></script>
</head>

<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/95c75768/cloudflare-static/rocket-loader.min.js" data-cf-settings="71edc8aaeb24162e8c3edb0b-|49"></script>

<body>
    <div id="particles-js"></div>
    <div class="center">
        <h1>Error
            <%=code%> -
                <%=error%>
        </h1>
        <br>
        <p><a href="/">How about we go home?</a></p>
    </div>
</body>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-151946240-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-151946240-1');
</script>

</html>