<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://avatars1.githubusercontent.com/u/45381083">
    <title>Carter "Fyko" Himmel</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=”viewport” content=”width=device-width, initial-scale=1″>

    <!-- Metadata -->
    <meta name="theme-color" content="#745c97">
    <meta name="apple-mobile-web-app-title" content="Carter 'Fyko' Himmel">
    <meta itemprop="image" content="https://avatars1.githubusercontent.com/u/45381083">
    <link rel="canonical" href="https://fyko.net/">
    <link rel="icon" href="https://avatars1.githubusercontent.com/u/45381083">
    <link rel="apple-touch-icon-precomposed" href="https://avatars1.githubusercontent.com/u/45381083">

    <!-- Embed Data -->
    <meta name="author" content="Carter 'Fyko' Himmel">
    <meta name="description" content="coffee addicted developer &amp; photographer">

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Carter 'Fyko' Himmel">
    <meta property="og:title" content="Carter 'Fyko' Himmel">
    <meta property="og:description" content="coffee addicted developer &amp; photographer">
    <meta property="og:url" content="https://fyko.net/">
    <meta property="og:image" content="https://avatars1.githubusercontent.com/u/45381083">

    <!-- Design -->
    <link rel='stylesheet' href='css/main.css'>
    <script src="https://kit.fontawesome.com/f1706a5453.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src='js/main.js'></script>
    <script src='js/particles.js'></script>
</head>

<body onload="load()">
    <div id="particles-js"></div>
    <div class="center">
        <img class="avatar" src="https://avatars1.githubusercontent.com/u/45381083" alt="">
        <h1>Carter "Fyko" Himmel</h1>
        <h2 class="splash"></h2>
        <hr>
        <div class="links">
            <div class="float">
                <i class="fab fa-github"></i>
                <a class="link" href="https://github.com/fyko">GitHub</a>
            </div>

            <div class="float">
                <i class="fab fa-twitter" style="color: #1DA1F2"></i>
                <a class="link" href="https://twitter.com/fykowo">Twitter</a>
            </div>

            <div class="float">
                <i class="fab fa-discord" style="color: #7289DA"></i>
                <a class="link" href="https://fyko.net/discord">Discord</a>
            </div>

            <div class="float">
                <i class="fa fa-envelope"></i>
                <a class="link" href="mailto:me@fyko.net">Email</a>
            </div>
        </div>
        <div class="links">
            <div class="float">
                <i class="fa fa-code"></i>
                <a class="link" href="https://sycer.dev/">Sycer Development</a>
            </div>
            <div class="float">
                <i class="fa fa-heart"></i>
                <a class="link" href="https://shaybox.com/">Inspired by ShayBox</a>
            </div>
        </div>
    </div>
</body>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-151946240-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-151946240-1');
</script>

</html>